<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
</head>
<body>
{% for ingredient, amount in recipe.items %}
    <p>{{ ingredient }}: {{ amount }}</p>
{% empty %}
    <p>Такого рецепта не знаю :(</p>

{% endfor %}
<form>
    <label for="servings">Рассчитать на количество порций:</label>
    <input type="number" id="servings" name="servings" min="1" value="1" required><br><br>
    <button type="submit">Рассчитать</button>
    <button><a href="{% url 'home' %}">Назад</a></button>
</form>
</body>
</html>
